
.dark-mode {
  $bg: #00111c;
  $font: white;
  $light: #81a5be;
  $default: #002945;
  $dark: #001a2c;

  body {
    background-color: $bg;
    color: $font;

    .dark-invert {
      filter: invert(1);
    }
  }

  [ui-input] {
    border: 1px solid $default;
    background-color: $dark;
    color: $light;

    &:focus {
      border-color: $font;
    }

    &::-webkit-input-placeholder {
      color: $font;
    }
  }

  [ui-switcher] {
    border-color: $light;

    [ui-switcher-button] {
      color: $font;

      &.active {
        background-color: $light;
      }
    }
  }


  .header {
    .nav {
      &__search-form {
        .search-form {
          &__search-btn {
            background-color: $dark !important;
          }
        }
      }
    }

    .categories {
      .list {
        li {
          border-color: $light;

          .list__item {
            color: $light;

            &:hover {
              border-color: $dark;
            }
          }
        }
      }
    }
  }


  main.content {
    .card {
      background-color: $dark;
      color: $font;
      border-color: $default;

      &__orders {
        color: $light;
      }

      &__cart-btn:hover {
        background-color: $default;
      }

    }

    .wrapper {
      &__title {
        color: $font;
      }

    }

    .profile {
      &__body {
        .profile__aside {
          .aside__menu {
            li .menu__link {
              color: darken($light, 10);

              &--selected {
                color: $light
              }
            }
          }
        }

        .profile__preferences {
          .buttons__logout {
            color: $font;
          }
        }
      }

      &__orders {
        .orders__list {
          .order-item {
            &__body {
              .body__worth, .body__date {
                span:last-child {
                  color: $font;
                }
              }
            }

            &__goods {
              .goods__list {
                .list__item {
                  .item__info {
                    .title {
                      color: $font;
                    }

                    .model,
                    .color,
                    .quantity,
                    .price {
                      span:last-child {
                        color: $font;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .cart {
      &__body {
        .items {
          &__item {
            .item__desc {
              .item__body {
                .item__qty {
                  .qty__plus-btn,
                  .qty__minus-btn {
                    color: $font;
                    background: $dark;
                  }
                }
              }
            }
          }
        }
      }
    }

    .popup {
      background-color: $default;

      &__title {
        color: $light;
      }

      &__name {
        color: $font;
      }

      &__close {
        background-color: $default;
      }
    }

    .favorites {
      &__header {
        .sorting-wrapper {
          --vs-controls-color: #81a5be;
          --vs-border-color: #81a5be;

          --vs-dropdown-bg: #002945;
          --vs-dropdown-color: #fff;
          --vs-dropdown-option-color: #fff;

          --vs-selected-bg: #81a5be;
          --vs-selected-color: #eeeeee;

          --vs-search-input-color: #eeeeee;

          --vs-dropdown-option--active-bg: #81a5be;
          --vs-dropdown-option--active-color: #eeeeee;
        }
      }
    }
  }


}