
.dark-mode {
  $bg: #00111c;
  $font: white;
  $light: #81a5be;
  $default: #002945;
  $dark: #001a2c;

  body {
    background-color: $bg;
    color: $font;

    .dark-invert {
      filter: invert(1);
    }
  }

  [ui-input] {
    border: 1px solid $default;
    background-color: $dark;
    color: $light;

    &:focus {
      border-color: $font;
    }

    &::-webkit-input-placeholder {
      color: $font;
    }
  }

  [ui-switcher] {
    border-color: $light;

    [ui-switcher-button] {
      color: $font;

      &.active {
        background-color: $light;
      }
    }
  }


  .header {

    .nav {
      &__search-form {
        .suggestions-list {
          background: $default;

          .suggestion {
            color: $font;

            &:hover {
              background: $blue;
              color: $dark;
            }
          }
        }

        .search-form {
          &__search-btn {
            background-color: $dark !important;
          }
        }
      }

      &__user-actions {
        @media (max-width: 480px) {
          background-color: $dark;
          box-shadow: 0 -1px 12px rgba(white, 0.1);
        }

        .user-actions {
          &__pa, &__favorites, &__cart, &__home {

            &--current span {
              color: invert($blue, 100) !important;
            }

            &:hover {
              background-color: invert($default, 100);
              @media (max-width: 480px) {
                background-color: transparent;
              }
            }


          }
        }
      }
    }

    .aside-menu {
      background: $bg;

      .aside__header {
        background: $bg;

        .header__links-link {
          color: $light;
        }
      }

      .aside__categories {
        background-color: $default;

        &-item {
          color: $light;
          border-color: $light;
        }

        &-folder {
          .title {
            color: $font;
          }
        }
      }
    }

    .categories {
      .list {
        li {
          border-color: $light;

          .list__item {
            color: $light;

            &:hover {
              border-color: $dark;
            }
          }
        }
      }
    }
  }

  .signin-wrapper {
    .signin-modal {
      box-shadow: 0 0 15px 1px rgba($light, 0.1);

      .confirm-email {
        background: $default;
      }

      .modal__header {
        background-color: $dark;
        color: $font;
      }

      .body-wrapper {
        .modal__body {
          background-color: $default;
          color: $font;

          .body__forgot-password-btn {
            color: $light;

            &:hover {
              color: $font;
            }
          }
        }

        .modal__footer {
          background-color: $default;
          border-color: $dark;

          .signup__text, .signup__link {
            color: $font;
          }
        }
      }

    }
  }


  main.content {
    .qty__plus-btn,
    .qty__minus-btn {
      color: $font !important;
      background: $dark !important;
    }

    .card {
      background-color: $dark;
      color: $font;
      border-color: $default;

      &__orders {
        color: $light;
      }

      &__cart-btn:hover {
        background-color: $default;
      }

    }

    .wrapper {
      &__title {
        color: $font;
      }

    }

    .profile {
      &__body {
        .profile__aside {
          .aside__menu {
            li .menu__link {
              color: darken($light, 10);

              &--selected {
                color: $light
              }
            }
          }
        }

        .profile__preferences {
          .buttons__logout {
            color: $font;
          }
        }
      }

      &__orders {
        .orders__list {
          .order-item {
            &__body {
              .body__worth, .body__date {
                span:last-child {
                  color: $font;
                }
              }
            }

            &__goods {
              .goods__list {
                .list__item {
                  .item__info {
                    .title {
                      color: $font;
                    }

                    .model,
                    .color,
                    .quantity,
                    .price {
                      span:last-child {
                        color: $font;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .popup {
      background-color: $default;

      &__title {
        color: $light;
      }

      &__name {
        color: $font;
      }

      &__close {
        background-color: $default;
      }
    }

    .order {
      &__body {
        .delivery-block-wrapper {
          .order__delivery-block {
            .delivery-block {
              &__pick-method {
                .pick-method__courier,
                .pick-method__pvz {
                  background-color: $dark;
                }
              }
            }
          }
        }

        .goods-block {
          .qty__qty-label span {
            color: $font;
          }
        }

        .payment-block-wrapper {
          .order__payment-block {
            .payment__method {
              .method__card,
              .method__installment,
              .method__doli {
                background-color: $dark;
              }
            }
          }
        }
      }
    }

    .product {
      &__info-card {
        .product__info {
          .info__stats {
            .stats__favorites-btn {
              color: $font;

              svg {
                stroke: $font;
              }
            }
          }
        }
      }

      &__desc-wrapper {
        .desc__tabs {
          .tab {
            color: $font;

            &--current {
              background: linear-gradient(to top, $blue, transparent 20%);
            }
          }
        }
      }
    }

    .add-review {
      background: $default;

      &__header {
        background-color: $dark;
      }
    }

    .category-page {
      &__body {
        .aside-filters {
          .categories {
            &__list {
              .category {
                color: $light;

                &:hover {
                  background-color: $default;
                }
              }
            }
          }
        }
      }
    }
  }

  .v-select {
    --vs-controls-color: #81a5be;
    --vs-border-color: #81a5be;

    --vs-dropdown-bg: #002945;
    --vs-dropdown-color: #fff;
    --vs-dropdown-option-color: #fff;

    --vs-selected-bg: #81a5be;
    --vs-selected-color: #eeeeee;

    --vs-search-input-color: #eeeeee;

    --vs-dropdown-option--active-bg: #81a5be;
    --vs-dropdown-option--active-color: #eeeeee;
  }

}